.login {
  display: grid;
  place-items: center;
  height: 100vh;
}
.login > button {
  width: 300px;
  font-weight: 800;
  border: 2px solid #2e81f4;
}
.login > button:hover {
  background-color: #2e81f4;
}
.login .MuiButton-label {
  color: #2e81f4;
}
.login > button:hover .MuiButton-label {
  color: #eff2f5;
}
.login > div > img {
  object-fit: contain;
  height: 150px;
}
.login > div {
  display: flex;
  flex-direction: column;
}
